<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Related Links</title>
</head>
<body>
  <h1>
    Hello, everyone! We are going to share some important YouTube channel links and websites that will help you get started quickly with the latest Salesforce ecosystems.
  </h1>
  <ul>
    <li>
      <a href="https://www.youtube.com/@sfdcninjas">SFDC NINJA</a>
      <p>
        About: This channel helps you understand different types of trigger scenarios and interview questions related to Salesforce. Joined Dec 4, 2022
      </p>
      <a href="https://www.linkedin.com/in/badal-chaudhary-296464149">Linkedin</a>
      <br>
      <a href="mailto:ninjasfdc@gmail.com">Email</a>
    </li>
  </ul>

  <ul>
    <li>
      <a href="https://www.youtube.com/@apexhours">Apex Hours</a>
      <p>
        About: "Salesforce Apex Hours" is a program of the community, for the community, and led by the community. It's a space that helps Salesforce experts across the globe share their expertise in various areas with the intent to help the Salesforce community thrive!
      </p>
      <p>
        Apex Hours is a one-stop platform to learn Salesforce skills and technology. Some of the most popular tutorial series are:
      </p>
      <ul>
        <li>Salesforce Admin Tutorial (13 session recordings)</li>
        <li>Salesforce Development Tutorial (19 recordings)</li>
        <li>JavaScript Tutorial (3 recordings)</li>
        <li>Lightning Web Component Development Tutorial (8 recordings)</li>
        <li>Salesforce Advanced Apex Tutorial (8 recordings)</li>
        <li>Community Cloud Tutorial (8 recordings)</li>
        <li>DevOps in Salesforce (7 recordings)</li>
      </ul>
      <p>Follow them on <a href="https://www.apexhours.com">ApexHours.com</a></p>
    </li>
    <li> salesforcenoob</li>
    <li> salesfroce developer</li>
    <li> salesforben</li>
    <li> salesforceHustle</li>
    <li> salesforcegyaan</li>
    <li> salesforcegyan</li>
  </ul>
</body>
</html>
