<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Salesforce Trailheads Modules</title>
</head>
<body>
    <h1>Trailheads Modules</h1>

    <h2>Admin Beginner:</h2>
    <ol>
        <li>Salesforce Platform Basics</li>
        <li>Data Modeling</li>
        <li>Data Management</li>
        <li>Lightning Experience Customization</li>
        <li>User Management</li>
        <li>Reports and Dashboards</li>
    </ol>

    <h2>Admin Intermediate:</h2>
    <ol>
        <li>Data Security</li>
        <li>Picklist Administration</li>
        <li>Build a Salesforce Suggestion App</li>
        <li>Approve Records with Approval Processes</li>
        <li>App Exchange Basics</li>
        <li>External Services and Flow</li>
        <li>Salesforce Mobile App Rollouts</li>
    </ol>

    <h2>Developer Beginner:</h2>
    <ol>
        <li>Salesforce Platform Basics</li>
        <li>Get Started with Salesforce Developer</li>
        <li>Data Modeling</li>
        <li>Lightning Experience Customization</li>
        <li>Formulas and Validation</li>
        <li>Flow Builder</li>
        <li>Apex Builder</li>
        <li>LWC Basics (Lightning Web Components)</li>
        <li>Data Management</li>
    </ol>

    <h2>Developer Intermediate:</h2>
    <ol>
        <li>User Management</li>
        <li>Lightning App Builder</li>
        <li>AutoLaunched and Scheduled Flow</li>
        <li>Screen Flow</li>
        <li>Record-Triggered Flow</li>
        <li>Find and Fix Bugs with Apex Replay Debugger</li>
        <li>Apex Testing</li>
        <li>Lightning Design System Basics</li>
        <li>LWC and Salesforce Data</li>
        <li>Platform API Basics</li>
    </ol>

    <h2>Developer Advanced:</h2>
    
    <ol>
        <li>Apex Integration Services</li>
        <li>Asynchronous Apex</li>
        <li>Lightning Web Component Troubleshooting</li>
        <li>Lightning Web Component Testing</li>
        <li>Platform Cache</li>
        <li>Platform Event Basics</li>
        <li>Set Up Your Salesforce Mobile Developer Tools for Lightning Web Components</li>
        <li>Salesforce Mobile SDK Basics</li>
        <li>Application Lifecycle and Development Basics</li>
    </ol>
    <h2>Salesforce Major Ceertifications:</h2>

    <ol>
        <li>Salesfoce Certified Administrator</li>
        <li>Salesfoce Certified PLatform App Builder </li>
        <li>Salesfoce Certified Platform App Builder 2</li>
        <li>Salesfoce Certified App Builder</li>
        <li> Salesfoce Certified Business Analyst </li>
        <li>Salesfoce Certified Sharing And Visibility Architech</li>
        <li>Salesfoce Certified Field Service Consultant</li>
        <li>Salesfoce Certified Einstien Analytics And Discovery Consultant</li>
        <li>Salesfoce Certified Sales Cloud Consultant </li>
        <li>Salesfoce Certified Service Cloud Consultant</li>
        <li>Salesfoce Certified Experiance Cloud Consultant</li>
    </ol>

</body>
</html>

