body
{
  margin:2px 5px;
  padding: 5px 10px;


}
.header {
  border-radius: 20px;
  margin: 5px;

}

.container{
border: 2px;
border-radius: 20px;
}
/* Reset some default st
/* Style the footer */
footer {
  background-color: blue;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

/* Style the copyright text */
footer p {
  margin: 0;
  font-size: 14px;
}
