<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Salesforce</title>
</head>
<body>
<div class="header">
  <h1>Salesforce</h1>
  </div>
  <div class="container">
      <div class="home">
        <a routerLink="home">Home
        </a>
      </div>
        <div class="apex">
          <a routerLink="apex">apex</a>
        </div>

     <div class="flow">
      <a routerLink="flow">Flow
      </a>
     </div>
     <div class="related-link">
      <a routerLink="related-link">RelatedLinks
      </a>
     </div>
      <div class="superbadges">
        <a routerLink="superbadges">Superbadges</a>
      </div>
<div class="trailheads">
  <a routerLink="trailheads">Trailhead
  </a>
</div>
      <div class="trigeer">
        <a routerLink="trigger">trigger
        </a>
      </div>

  </div>
<router-outlet>

</router-outlet>
 </body>

</html>
