/* You can add global styles to this file, and also import other style files */
/* styles.css */

/* Reset default margin and padding */
body {
  margin:0 ;
  padding: 0;

}

/* Style the header */
.header {
  background-color: #007bff;
  color: white;
  padding: 10px;
  text-align: center;
}
.container {
  display: flex;
  justify-content:space-between;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size:20px;
  font-weight:lighter;
  justify-content:space-around;

}
.apex{
  color:blue;
}
.home{
  color:#5585b5;
}
.trigger{
color:#53a8b6;
}
