<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Superbadges</h1>

  <h2>App Customization Specialist</h2>
  <ul>
      <li>App Customization Specialist Superbadge</li>
  </ul>

  <h2>Business Administration Specialist</h2>
  <ul>
      <li>Business Administration Specialist Superbadge</li>
  </ul>

  <h2>Data Categorization and Access Superbadge</h2>
  <ul>
      <li>Data Categorization and Access Superbadge Unit</li>
  </ul>

  <h2>Lightning Web Component Specialist</h2>
  <ul>
      <li>Lightning Web Component Specialist Superbadge</li>
  </ul>

  <h2>App Builder Specialist</h2>
  <ul>
      <li>App Builder Specialist Superbadge</li>
  </ul>

  <h2>Apex Specialist</h2>
  <ul>
      <li>Apex Specialist Superbadge</li>
  </ul>

  <h2>Developer Superset</h2>
  <ul>
      <li>Apex Specialist Superbadge</li>
      <li>Developer Superset Process Automation Specialist Superbadge</li>
  </ul>
</body>
</html>
